<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cliente</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,100&display=swap"
            rel="stylesheet"
            />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/styles.css}" />
    </head>
    <body>
        <div class="d-flex justify-content-end">
            <img th:src="@{/image/logo-hm.png}" alt="" class="logo img-fluid" />
        </div>
        <header class="container d-flex justify-content-center align-items-center mt-2 mb-2">

            <h1 class="titulo-registroEmpleado">Lista de Clientes</h1>
        </header>
        <div class="container mt-4">
            <div class="mt-4 mb-4 text-left d-flex flex-column align-items-start">
                <label class="d-inline-block titulo-cliente">Crear Cliente</label>
                <div class="d-inline-block">
                    <a th:href="@{/new}" class="btn btn-primary btn-sm">Crear</a>
                </div>
            </div>
            <div class=" table-responsive mt-4">
                <table class="table table-striped table-bordered tabla-clientes">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th class="align-middle">TIPO DOCUMENTO</th>
                            <th class="align-middle">NUMERO DOCUMENTO</th>
                            <th class="align-middle">NOMBRES</th>
                            <th class="align-middle">APELLIDOS</th>
                            <th class="align-middle">TELEFONO</th>
                            <th class="align-middle">CORREO</th>
                            <th class="align-middle">OPCIONES</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cliente:${mClientes}">
                            <td th:text="${cliente.id_tipo_documento}" class="text-center"></td>
                            <td th:text="${cliente.numero_documento}" class="text-center"></td>
                            <td th:text="${cliente.nombre}" class="text-center"></td>
                            <td th:text="${cliente.apellido}" class="text-center"></td>
                            <td th:text="${cliente.telefono}" class="text-center"></td>
                            <td th:text="${cliente.correo_electronico}" class="text-center"></td>
                            <td >
                                <a th:href="@{/editar/}+${cliente.id_cliente}" class="btn btn-warning btn-sm mr-2">Editar</a>
                                <a th:href="@{/eliminar/}+${cliente.id_cliente}" class="btn btn-danger btn-sm ml-2">Eliminar</a>

                            </td>
                        </tr>
                    </tbody>
                </table> 
            </div>    
        </div>
    </body>
</html>
